<div style="margin-left:10px;"><b><i>Conference &amp; Journal Papers</i></b></div>
<p>
<ol start="1">

<!-- Authors: Katherine E Isaacs and Todd Gamblin and Abhinav Bhatele and
  Martin Schulz and Bernd Hamann and Peer Timo Bremer -->
<li><a name="isaacs+:tpds15"></a>Katherine&nbsp;E. Isaacs, <strong>Todd
  Gamblin</strong>, Abhinav Bhatele, Martin Schulz,
  Bernd Hamann, and Peer-Timo Bremer.
Ordering Traces Logically to Identify Lateness in Message Passing Programs.
<cite>IEEE Transactions on Parallel and Distributed Systems (TPDS)</cite>,
  2015.
To appear.</li>

<!-- Authors: Todd Gamblin and Matthew P LeGendre and Michael R Collette and
  Gregory L Lee and Adam Moody and Bronis R de Supinski and W Scott Futral -->
<li><a name="gamblin+:sc15"></a><strong>Todd Gamblin</strong>, Matthew&nbsp;P.
  LeGendre, Michael&nbsp;R. Collette, Gregory&nbsp;L. Lee,
  Adam Moody, Bronis&nbsp;R. de&nbsp;Supinski, and
  W.&nbsp;Scott Futral.
The Spack Package Manager: Bringing order to HPC software chaos.
In <cite>Supercomputing 2015 (SC'15)</cite>, Austin, Texas, November 15-20
  2015.
LLNL-CONF-669890.</li>


</ul>
</ol>
<p>
<div style="margin-left:10px;"><b><i>Workshop Papers &amp; Technical Reports</i></b></div>
<p>
<ol start="40">

<!-- Authors: Ignacio Laguna and Todd Gamblin and Kathryn Mohror and Martin
  Schulz -->
<li><a name="laguna+:exampi14"></a>Ignacio Laguna, <strong>Todd Gamblin</strong>,
  Kathryn Mohror, and Martin Schulz.
A global exception fault tolerance model for mpi.
In <cite>Workshop on Exascale MPI (ExaMPI14), held at Supercomputing 2014
  (SC'14)</cite>, New Orleans, LA, November 17 2014.
LLNL-CONF-XXXXXX.</li>

</ul>
</ol>
<p>
